* {
    padding: 0;
    margin: 0;
}

.main {
    position: absolute;
    top: 30%;
    width: 100%;
}

#preview {
    text-align: center;
    font-size: 25px;
    padding: 50px;
}

.controls {
    text-align: center;
    border: none;
    padding-bottom: 50px;
}

.controls > button {
    border: none;
    background-color: transparent;
    color: yellowgreen;
    padding-left: 15px;
}

h1 {
    text-align: center;
    color: lawngreen;
}